body{
	text-align:center;
	color:white;
	
	padding:5px;
	font-family:Candara;
	font-size:18px;
	background-image: url(login.jpg);
	
}
button {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    margin: 8px 0;
    cursor: pointer;
	border-radius: 5px;
   
}

input[type=text], input[type=password] {
    
    padding: 6px ;
    margin: 5px ;
    display: inline-block;
    border: 1px solid #ccc;
    
}

a{
	font-size: 20px;
	color: #f44336; 
}